* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  border: 1px dashed pink;
  height: 100vh;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 300px 5fr;
}

.mainContent {
  width: 100%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
}

.taskContainer {
  width: 1000px;
  height: 100%;
  border: 1px solid blue;
}

.sideBar {
  padding: 15px;
}

ul {
  list-style: none;
}


.dialogContainer {
  height: 200px;
  width: 500px;
  border: 1px solid blue;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
dialog {
  width: 500px;
  height: 200px;
  left: 50%;
  position: relative;
  top: 25px;
  margin-left: -100px;
}

/* Dialog Styles */
input,
select {
  display: block;
}
#description {
  width: 100%;
}
#title {
  width: 50%;
}
