* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  border: 1px dashed pink;
  height: 100vh;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 300px 5fr;
}

.mainContent {
  width: 100%;
  border: 3px solid black;
  display: flex;
  justify-content: center;
}

.taskContainer {
  width: 1000px;
  height: 100%;
  border: 1px solid blue;
}

.sideBar{
    padding: 15px;
}
